{% extends "base.html" %}

{% block content %}
<div class="container">    
    <p> I'm a Physics Ph.D. candidate working at the interface of
        Condensed Matter Physics and Materials Sciences. In our research group, we computationally study
        the properties of semiconductor materials and draw insights for potential applications. 
        I like solving problems and building Machine Learning applications using real-world data. 
        In my spare time, I like going on hikes and cooking new recipes.
    </p>
    <p> I'm currently a Fellow at <a href="https://www.thedataincubator.com/">The Data Incubator</a> and
        actively seeking Data Scientist positions.
    </p>
<h5 id="objective-">Contact details:</h5>
<ul>
<li><strong>Name:</strong> Amol Ratnaparkhe</li>
<li><strong>Email:</strong> <a href="mailto:amolratnaparkhe@gmail.com">amolratnaparkhe@gmail.com</a></li>
<li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/amolratnaparkhe/">linkedin.com/in/amolratnaparkhe</a></li>
<li><strong>GitHub:</strong> <a href="https://github.com/amolratnaparkhe">github.com/amolratnaparkhe</a></li>
<li><strong>Twitter:</strong> <a href="https://www.twitter.com/amolratnaparkhe/">twitter.com/amolratnaparkhe</a></li>
<li><strong>Cell:</strong> (216) 302 5089 </li>
<li><strong>Address:</strong> 2640 Euclid Heights Blvd, Cleveland Heights OH 44106 </li>
</ul>
</div>
{% endblock %}