<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_367d8078aa024a42afe232cf654255b4 {
                    position: relative;
                    width: 1200.0px;
                    height: 600.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@master/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_367d8078aa024a42afe232cf654255b4" ></div>
        
</body>
<script>    
    
            var map_367d8078aa024a42afe232cf654255b4 = L.map(
                "map_367d8078aa024a42afe232cf654255b4",
                {
                    center: [36.1699, -115.1398],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9a8af1700ab841b3b3c6a2b47119bf6e = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
            var marker_c45518ad76f649cfbab5acd504eb3d75 = L.marker(
                [36.117091, -115.138401],
                {}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
        var popup_75801a4897ac46339d9bb3960a328cb0 = L.popup({"maxWidth": 200});

        
            var i_frame_46a1c3b81e274977ac9bbab2cbe4dcd2 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8c3Ryb25nPk5hbWU6PC9zdHJvbmc+IEthcnZlZDxicj4KICAgICAgICAgICAgPHN0cm9uZz5DYXRlZ29yaWVzOjwvc3Ryb25nPiBbJ1Jlc3RhdXJhbnRzJywgJ1NhbmR3aWNoZXMnLCAnRmFzdCBGb29kJywgJ1NhbGFkJywgJ0FtZXJpY2FuIChOZXcpJywgJ0FtZXJpY2FuIChUcmFkaXRpb25hbCknLCAnQmFyYmVxdWUnXTxicj4KICAgICAgICAgICAgPHN0cm9uZz5BbWVuaXRpZXM6PC9zdHJvbmc+IFsnRmFzdGZvb2QgLyBBbWVyaWNhbicsICdHb29kIEFtYmlhbmNlIC8gU2VydmljZScsICdDb250aW5lbnRhbCddPGJyPgogICAgICAgICAgICA8c3Ryb25nPlJhdGluZzo8L3N0cm9uZz4gNC43NzA4MzMzMzMzMzMzMzMKICAgICAgICAgICAg" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_75801a4897ac46339d9bb3960a328cb0.setContent(i_frame_46a1c3b81e274977ac9bbab2cbe4dcd2);
        

        marker_c45518ad76f649cfbab5acd504eb3d75.bindPopup(popup_75801a4897ac46339d9bb3960a328cb0)
        ;

        
    
    
            var marker_dac2de7ba4084a969d60d9cec20c7386 = L.marker(
                [36.1041615385, -115.1376310519],
                {}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
        var popup_1c77c752dc4f44dfae90ec4f45a7c166 = L.popup({"maxWidth": 200});

        
            var i_frame_abb8de7787b748b79c989d80cb8d5af0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8c3Ryb25nPk5hbWU6PC9zdHJvbmc+IFBva2UgSGVhdmVuPGJyPgogICAgICAgICAgICA8c3Ryb25nPkNhdGVnb3JpZXM6PC9zdHJvbmc+IFsnS29yZWFuJywgJ1Bva2UnLCAnRm9vZCcsICdBc2lhbiBGdXNpb24nLCAnSmFwYW5lc2UnLCAnUmVzdGF1cmFudHMnLCAnSGF3YWlpYW4nXTxicj4KICAgICAgICAgICAgPHN0cm9uZz5BbWVuaXRpZXM6PC9zdHJvbmc+IFsnRXhvdGljJywgJ0NvbnRpbmVudGFsJywgJ0Z1c2lvbiAvIEJ1ZmZldCddPGJyPgogICAgICAgICAgICA8c3Ryb25nPlJhdGluZzo8L3N0cm9uZz4gNC43OTE2NjY2NjY2NjY2NjcKICAgICAgICAgICAg" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_1c77c752dc4f44dfae90ec4f45a7c166.setContent(i_frame_abb8de7787b748b79c989d80cb8d5af0);
        

        marker_dac2de7ba4084a969d60d9cec20c7386.bindPopup(popup_1c77c752dc4f44dfae90ec4f45a7c166)
        ;

        
    
    
            var marker_97d9aca038e94c4183d4d9fac0665d46 = L.marker(
                [36.0869652, -115.1002996],
                {}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
        var popup_73cfbf258aa24ddd874c9a466c0880ff = L.popup({"maxWidth": 200});

        
            var i_frame_299ea0efdac2427e90b4fd58984756d2 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8c3Ryb25nPk5hbWU6PC9zdHJvbmc+IEhhbmQgQ2FyIFdhc2ggU2luY2xhaXI8YnI+CiAgICAgICAgICAgIDxzdHJvbmc+Q2F0ZWdvcmllczo8L3N0cm9uZz4gWydDYXIgV2FzaCcsICdHYXMgU3RhdGlvbnMnLCAnQ29udmVuaWVuY2UgU3RvcmVzJywgJ1Jlc3RhdXJhbnRzJywgJ0Zvb2QnLCAnRGVsaXMnLCAnQXV0b21vdGl2ZSddPGJyPgogICAgICAgICAgICA8c3Ryb25nPkFtZW5pdGllczo8L3N0cm9uZz4gWydIb3RlbC8gQmFyLyBOaWdodCBsaWZlJywgJ0V4b3RpYycsICdHb29kIEFtYmlhbmNlIC8gU2VydmljZSddPGJyPgogICAgICAgICAgICA8c3Ryb25nPlJhdGluZzo8L3N0cm9uZz4gNC43MgogICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_73cfbf258aa24ddd874c9a466c0880ff.setContent(i_frame_299ea0efdac2427e90b4fd58984756d2);
        

        marker_97d9aca038e94c4183d4d9fac0665d46.bindPopup(popup_73cfbf258aa24ddd874c9a466c0880ff)
        ;

        
    
    
            var marker_503e3314ea044177a45db3b113b68488 = L.marker(
                [36.0357492, -115.1533426],
                {}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
        var popup_5e67ade860b5472f8f065eebf3ea089a = L.popup({"maxWidth": 200});

        
            var i_frame_41e0e8d6445e4fb89baffc657e0c97c0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8c3Ryb25nPk5hbWU6PC9zdHJvbmc+IEFueXRoaW5nIFUgV2FudCBEZWxpdmVyeSBTZXJ2aWNlPGJyPgogICAgICAgICAgICA8c3Ryb25nPkNhdGVnb3JpZXM6PC9zdHJvbmc+IFsnRm9vZCBEZWxpdmVyeSBTZXJ2aWNlcycsICdDb3VyaWVycyAmIERlbGl2ZXJ5IFNlcnZpY2VzJywgJ0Zhc3QgRm9vZCcsICdGb29kJywgJ1Jlc3RhdXJhbnRzJywgJ0dyb2NlcnknLCAnTG9jYWwgU2VydmljZXMnXTxicj4KICAgICAgICAgICAgPHN0cm9uZz5BbWVuaXRpZXM6PC9zdHJvbmc+IFsnSG90ZWwvIEJhci8gTmlnaHQgbGlmZScsICdHb29kIEFtYmlhbmNlIC8gU2VydmljZScsICdFeG90aWMnXTxicj4KICAgICAgICAgICAgPHN0cm9uZz5SYXRpbmc6PC9zdHJvbmc+IDQuNjkyMzA3NjkyMzA3NjkyNQogICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
            popup_5e67ade860b5472f8f065eebf3ea089a.setContent(i_frame_41e0e8d6445e4fb89baffc657e0c97c0);
        

        marker_503e3314ea044177a45db3b113b68488.bindPopup(popup_5e67ade860b5472f8f065eebf3ea089a)
        ;

        
    
    
            var feature_group_fb610b216a7e4209a01130635d823648 = L.featureGroup(
                {}
            ).addTo(map_367d8078aa024a42afe232cf654255b4);
        
    
            var heat_map_17be782a74394af896736509a6f8bc2c = L.heatLayer(
                [[36.117091, -115.138401], [36.1041615385, -115.1376310519], [36.0869652, -115.1002996], [36.0357492, -115.1533426]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(feature_group_fb610b216a7e4209a01130635d823648);
        
</script>