<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5a0a807cfcba4217b1569c253b9ae62b {
                    position: relative;
                    width: 1200.0px;
                    height: 600.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@master/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_5a0a807cfcba4217b1569c253b9ae62b" ></div>
        
</body>
<script>    
    
            var map_5a0a807cfcba4217b1569c253b9ae62b = L.map(
                "map_5a0a807cfcba4217b1569c253b9ae62b",
                {
                    center: [36.1699, -115.1398],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_622892105f6142f59960c74e0ec02839 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
            var marker_b976a95e023d4867a1110e995a8a86f3 = L.marker(
                [36.1041615385, -115.1376310519],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_410205a54d584140b4a6d3c617378f6c = L.popup({"maxWidth": "100%"});

        
            var html_4d4372c9a6774011be6e0cee341d269a = $(`<div id="html_4d4372c9a6774011be6e0cee341d269a" style="width: 100.0%; height: 100.0%;">('Poke Heaven', ['Korean', 'Poke', 'Food', 'Asian Fusion', 'Japanese', 'Restaurants', 'Hawaiian'], ['Exotic', 'Continental', 'Fusion / Buffet'], 4.791666666666667)</div>`)[0];
            popup_410205a54d584140b4a6d3c617378f6c.setContent(html_4d4372c9a6774011be6e0cee341d269a);
        

        marker_b976a95e023d4867a1110e995a8a86f3.bindPopup(popup_410205a54d584140b4a6d3c617378f6c)
        ;

        
    
    
            var marker_b85e83a8903341348298b5c9a33dece2 = L.marker(
                [36.117091, -115.138401],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_70c188e50296411a8d3318179bd7d054 = L.popup({"maxWidth": "100%"});

        
            var html_c101a61e06304ab69e2b5b7defa0c3bf = $(`<div id="html_c101a61e06304ab69e2b5b7defa0c3bf" style="width: 100.0%; height: 100.0%;">('Karved', ['Restaurants', 'Sandwiches', 'Fast Food', 'Salad', 'American (New)', 'American (Traditional)', 'Barbeque'], ['Fastfood / American', 'Good Ambiance / Service', 'Continental'], 4.770833333333333)</div>`)[0];
            popup_70c188e50296411a8d3318179bd7d054.setContent(html_c101a61e06304ab69e2b5b7defa0c3bf);
        

        marker_b85e83a8903341348298b5c9a33dece2.bindPopup(popup_70c188e50296411a8d3318179bd7d054)
        ;

        
    
    
            var marker_353103ebc2944e349cf2838b0b59132a = L.marker(
                [36.1154417, -115.1338935],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_1ab4a51e9a664329a32b41d744914457 = L.popup({"maxWidth": "100%"});

        
            var html_315671ccfdbc41ac8238c770bfe50732 = $(`<div id="html_315671ccfdbc41ac8238c770bfe50732" style="width: 100.0%; height: 100.0%;">('Arirang Korean BBQ', ['Barbeque', 'Korean', 'Restaurants'], ['Fusion / Buffet', 'Continental', 'Snack / Tacos'], 4.508875739644971)</div>`)[0];
            popup_1ab4a51e9a664329a32b41d744914457.setContent(html_315671ccfdbc41ac8238c770bfe50732);
        

        marker_353103ebc2944e349cf2838b0b59132a.bindPopup(popup_1ab4a51e9a664329a32b41d744914457)
        ;

        
    
    
            var marker_3477a32da4d64495be27ec9480976e21 = L.marker(
                [36.0289933, -115.1171379],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_499649f3f4c14a27aa2fd8a083ccc1c0 = L.popup({"maxWidth": "100%"});

        
            var html_51e474ae2edd40aea36302a5969d18ed = $(`<div id="html_51e474ae2edd40aea36302a5969d18ed" style="width: 100.0%; height: 100.0%;">('Lemongrass Café', ['Restaurants', 'Vietnamese'], ['Fusion / Buffet', 'Continental', 'Exotic'], 3.736501079913607)</div>`)[0];
            popup_499649f3f4c14a27aa2fd8a083ccc1c0.setContent(html_51e474ae2edd40aea36302a5969d18ed);
        

        marker_3477a32da4d64495be27ec9480976e21.bindPopup(popup_499649f3f4c14a27aa2fd8a083ccc1c0)
        ;

        
    
    
            var marker_62a6522ce6484b99ac910945ff429ad3 = L.marker(
                [36.0150169665, -115.1171830467],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_63fe86ababfa41acaa33ac814dca6839 = L.popup({"maxWidth": "100%"});

        
            var html_f4c9d1884343499cb797690b0c0f3fb4 = $(`<div id="html_f4c9d1884343499cb797690b0c0f3fb4" style="width: 100.0%; height: 100.0%;">('Honey Pig Korean BBQ', ['Restaurants', 'Korean', 'Barbeque'], ['Fusion / Buffet', 'Continental', 'Snack / Tacos'], 3.6538461538461537)</div>`)[0];
            popup_63fe86ababfa41acaa33ac814dca6839.setContent(html_f4c9d1884343499cb797690b0c0f3fb4);
        

        marker_62a6522ce6484b99ac910945ff429ad3.bindPopup(popup_63fe86ababfa41acaa33ac814dca6839)
        ;

        
    
    
            var marker_b116c5f6eaf74dc2a4e1ef8659600d65 = L.marker(
                [36.111237, -115.06423],
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
        var popup_038ec1253cdb43e8a31b51ff3c08a014 = L.popup({"maxWidth": "100%"});

        
            var html_9826139bacb14d729717f17b293ed79c = $(`<div id="html_9826139bacb14d729717f17b293ed79c" style="width: 100.0%; height: 100.0%;">('Pho T', ['Vietnamese', 'Restaurants'], ['Fusion / Buffet', 'Continental', 'Exotic'], 3.6214285714285714)</div>`)[0];
            popup_038ec1253cdb43e8a31b51ff3c08a014.setContent(html_9826139bacb14d729717f17b293ed79c);
        

        marker_b116c5f6eaf74dc2a4e1ef8659600d65.bindPopup(popup_038ec1253cdb43e8a31b51ff3c08a014)
        ;

        
    
    
            var feature_group_9b9d908f29784bef85256e11d08d1dc0 = L.featureGroup(
                {}
            ).addTo(map_5a0a807cfcba4217b1569c253b9ae62b);
        
    
            var heat_map_b92ce4cb925541eca3dc54eb542904ed = L.heatLayer(
                [[36.1041615385, -115.1376310519], [36.117091, -115.138401], [36.1154417, -115.1338935], [36.0289933, -115.1171379], [36.0150169665, -115.1171830467], [36.111237, -115.06423]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(feature_group_9b9d908f29784bef85256e11d08d1dc0);
        
</script>